*.retry
.idea
*.log
__pycache__/

# temp collection path
ansible_collections/
# Galaxy artifacts.
*.tar.gz

# Changelog cache files.
changelogs/.plugin-cache.yaml

# Temporary test files.
tests/output
tests/integration/cloud-config-*
